<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="part :: header">
</head>
<body>
    <h1>EDIT</h1>
    <table>
        <form method="post" action="edit" th:object="${formModel}">
            <input type="hidden" name="id" th:value="*{id}" />
            <tr><td><label for="content">content</label></td>
                <td><input type="text" name="content" th:value="*{content}" /></td></tr>
            <tr><td><label for="category">category</label></td>
                <td><input type="text" name="category" th:value="*{category}" /></td></tr>
            <tr><td><label for="done">done</label></td>
                <td><input type="text" name="done" th:value="*{done}" /></td></tr>
            <tr><td></td><td><input type="submit" /></td></tr>                
        </form>
    </table>
</body>
</html>