<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="part :: header">
</head>
<body>
    <h1>FIND</h1>
    <a th:href="@{'/'}">top</a>
    <table>
        <form action="/find" method="post">
            <tr><td>content:</td>
            <td><input type="text" name="content" size="20" th:value="${content}" /></td></tr>
            <tr><td>category:</td>
            <td><input type="text" name="category" size="20" th:value="${category}" /></td></tr>
            <tr><td></td><td><input type="submit" /></td></tr>
        </form>
    </table>
    <table>
        <tr th:each="obj: ${formModel}">
            <td th:unless="${obj.done}" th:text="${obj.content}"></td>
            <td th:unless="${obj.done}" th:text="${obj.category}"></td>
            <td th:unless="${obj.done}"><a th:unless="${obj.done}" th:href="@{'/edit/' + ${obj.id}}">edit</a></td>
        </tr>
    </table>
</body>
</html>