<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head　th:fragment="header">
        <title>todo list</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            h1 {font-size:18pt; font-weight:bold; color:gray;}
            body {font-size:13pt; color:gray; margin:5px 25px;}
            tr {margin: 5px;}
            th {padding: 5px; color:white; background:darkgrey;}
            td {padding:5px; color: black; background:#f0f0f0;}
            preã€€{font-size:13pt; color:gray; padding:5px 10px; border:1px solid gray;}
            .head {font-size:18pt; font-weight:bold;}
        </style>
</head>
<body>
</body>
</html>